<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89826584000-mo1bp78tjlsn1n80peooohe06mo9fjm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89826584000-mo1bp78tjlsn1n80peooohe06mo9fjm0</string>
	<key>API_KEY</key>
	<string>AIzaSyACAzYB-bg37eXx9LvX-Q8pzPY2nhm9CP0</string>
	<key>GCM_SENDER_ID</key>
	<string>89826584000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.banaSorApp</string>
	<key>PROJECT_ID</key>
	<string>banasorapp-23dea</string>
	<key>STORAGE_BUCKET</key>
	<string>banasorapp-23dea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89826584000:ios:184b541b17fe4d80b7d425</string>
</dict>
</plist>